* {
    margin: 0;
    padding: 0;
}

.tweet {
    border: 2px solid black;
    width: 40%;
    margin: 8% 15%;
    padding: 1rem;
}

.user {
    display: flex;
    align-items: center;
}

.likes {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.likes button {
    font-weight: bolder;
    background-color: rgb(209, 209, 21);
    padding: 2px 15px;
    box-shadow: 2px 2px 1px 1px black;
}

h1 {
    flex : 2;
}

#lorem {
    margin: 3rem 0;
}